<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link
    rel='stylesheet'
    href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
    integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
    crossorigin='anonymous'
  />
  <link rel="icon" type="image/x-icon" href="/images/cat-favicon.png" />
    <title>About</title>
  </head>
  <body class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="m-5">About cat</h1>
    <h3 class="m-5">Welcome to my about</h3>
    <button class="btn btn-primary mb-3 btn-lg btn-info" onclick="window.location.href ='/';">
        Home
      </button>
      <div class="container container-sm">
      <p class="mt-5 text-center">The cat (Felis catus) is a domestic species of small carnivorous mammal.[1][2] It is the only domesticated species in the family Felidae and is commonly referred to as the domestic cat or house cat to distinguish it from the wild members of the family.[4] Cats are commonly kept as house pets but can also be farm cats or feral cats; the feral cat ranges freely and avoids human contact.[5] Domestic cats are valued by humans for companionship and their ability to kill rodents. About 60 cat breeds are recognized by various cat registries.[6]</p>
    </div>
      <script src="/app.js"></script>
  </body>
</html>
