<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link
    rel='stylesheet'
    href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
    integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
    crossorigin='anonymous'
  />
  <link rel="icon" type="image/x-icon" href="/images/cat-favicon.png" />
    <title>Cats</title>
  </head>
  <body class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="m-5">A cat's visual representation</h1>
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
          <img src="/images/cat1.gif" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-4 text-center">
          <img src="/images/cat2.gif" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-4 text-center">
          <img src="/images/cat3.gif" class="img-fluid" alt="Responsive image">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 text-center">
          <img src="/images/cat4.gif" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-4 text-center">
          <img src="/images/cat5.gif" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-4 text-center">
          <img src="/images/cat6.gif" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-4 text-center">
            <img src="/images/cat7.gif" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-md-4 text-center">
            <img src="/images/cat8.gif" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-md-4 text-center">
            <img src="/images/cat9.gif" class="img-fluid" alt="Responsive image">
          </div>
      </div>
      <button class="btn btn-primary mb-3 btn-lg btn-info" onclick="window.location.href ='/';">
        Get me out of here
      </button>
      <script src="/app.js"></script>
  </body>
</html>