<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="/images/cat-favicon.png" />
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="m-5">Welcome home</h1>
    <script src="/app.js"></script>
    <button
      class="btn btn-primary mb-3 btn-lg btn-info"
      onclick="window.location.href ='/about';"
    >
      About
    </button>
    <button
      class="btn btn-primary mb-3 btn-lg btn-info"
      onclick="window.location.href = '/works';"
    >
      Works
    </button>
    <button
      class="btn btn-primary btn-lg btn-info"
      onclick="window.location.href = '/gallery';"
    >
      Catllery
    </button>
    <p class="mt-5">An Express.js example cat page</p>
  </body>
</html>
