<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
    rel='stylesheet'
    href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
    integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
    crossorigin='anonymous'
  />
  <link rel="icon" type="image/x-icon" href="/images/cat-favicon.png" />
  </head>
  <body class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="m-5">Welcome to the catcomplishments</h1>
    <button class="btn btn-primary mb-3 btn-lg btn-info" onclick="window.location.href ='/';">
        Home
      </button>
      <div class="container container-sm m-5">
        <ul class="list-unstyled">
          <li><h3>Ship Protector</h3><p>As unofficial allies, cats were able to go places that people, or larger animals, could not. Cats found a niche job in military barracks and aboard ships. Not only did they protect the limited rations of food, but they were also able to squeeze into tight spaces and prevent rodents from gnawing at important communications wiring and chewing through ropes and planks on ships. By controlling the rat and mouse populations, cats were also able to curtail the spread of disease by rodents.</p></li>
          <li><h3>Bomb detection</h3><p>Cats were also thought to be able to detect bombs ahead of time, like dogs sniffing out explosives. Soldiers theorized it was due to cats being attuned to atmospheric pressure, or possibly just their “sixth sense.” During World War II, some families would rely on their cat’s senses to alert them ahead of a bomb being dropped and would retreat for safety to air-raid or bomb shelters.</p></li>
          <li><h3>Cat comfort</h3><p>During times of war, soldiers experienced grueling stress under the most perilous of conditions. While stationed abroad, they would often adopt cats or kittens that had been abandoned. The act of caring for these lost animals would give the soldiers comfort, and many found the presence of a furry mascot at the end of a hard day to provide some entertainment and stress relief.</p></li>
        </ul>

      </div>
    <script src="/app.js"></script>
  </body>
</html>
